<article class="post">
  {{ .Render "header" }}

  <!-- {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }} -->

  <!-- resim - featured -->
  {{ .Render "featured" }}

  <div class="post-content">
    <p>
      {{ .Content }}
    </p>
  </div>

  <footer>
    {{ .Render "footer-category" }}
  </footer>

</article>

<!-- yorum konacak olursa açılır burası -->
<!-- {{ .Render "comments" }} -->

{{ .Render "prev-next" }}