{{ if and (isset .Params "featuredpath") (ne .Params.featuredpath "") }}
    {{ $.Scratch.Set "path" .Params.featuredpath }}

    {{ if and (isset .Params "featured") (ne .Params.featuredpath "") }}
        {{ $.Scratch.Set "structType" "page" }}
        {{ partial "img-path" . }}
        {{ $path := $.Scratch.Get "path" }}
        {{ $alt := $.Scratch.Get "alt" }}
        {{ $img := $.Scratch.Get "img" }}
        
        {{$path | relURL}}
        <br>
        {{.Params.featured}}
        <a href="{{ .RelPermalink }}" class="image featured">
            <img src="{{ $path | relURL }}/{{ .Params.featured }}" alt="{{ $alt }}">
        </a>
    {{ end }}
{{ end }}

<!-- <iframe width="100%" height="400px"
    src="https://www.youtube.com/embed/CgESCTp0UqI">
</iframe> -->
