<!-- <h1 class="abcd">_default/LİST</h1> -->
{{ partial "general-title" . }}

{{ partial "header" . }}
{{ partial "navbar" . }}
<!-- Main -->
<div id="main">
    {{ $paginator := .Paginate .Data.Pages }}

    {{if (ne .Section "risale")}}
        {{ range .Paginator.Pages }}
        {{ .Render "content-list" }}
        {{ end }}
    {{else}}
        {{ .Render "content-list" }}
    {{end}}

    {{if (ne .Section "risale")}}
    {{ partial "pagination" . }}
    {{end}}

</div>
{{ partial "sidebar" . }}
{{ partial "footer" . }}