{{ partial "header" . }}
{{ $.Scratch.Set "shareNav" true }}
{{ partial "navbar" . }}
<!-- Main -->
<div id="main">
    {{ range first 1 (where .Site.Pages "Type" "risale") }}
    {{ .Render "content-list" }}
    {{ end }}

    <div class="index-haber">
        <div class="index-haber-haberler">
            {{ range last 1 (where .Site.Pages "Type" "makale") }}
            {{ .Render "content-list" }}
            {{ end }}
        </div>
        <div class="index-haber-haberler">
            {{ range last 1 (where .Site.Pages "Type" "makale") }}
            {{ .Render "content-list" }}
            {{ end }}
        </div>

    </div>

    <div>

    </div>


</div>
{{ partial "sidebar" . }}
{{ partial "footer" . }}