@import url('https://fonts.googleapis.com/css?family=Almarai:400,700|Cairo:400,600,700,900|Tajawal:400,500,700&display=swap&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&display=swap&subset=arabic');


$font-logo: "Cairo", sans-serif;
$font-yan-baslik: "Almarai", sans-serif;
$font-text: 'Markazi Text', serif;

$font-size-logo-boy: 2em;
$font-size-nav-boy: 1em;

$font-size-yanbaslik-boy: 1.5em;
$font-size-text-boy: 1.5em;
$font-size-text-boy-small: 1.2em;
$font-size-text-boy-extra-small: 0.9em;

